<%= form_with model: @task do |f|%>
  <p> Please provide the following information to edit an existing task:</p>
  <%= f.label :name %>
 <%= f.text_field :name %>

 <%= f.label :description %>
 <%= f.text_field :description %>

 <%= f.label :completiondate %>
 <%= f.text_field :completiondate %>

 <%= f.submit "Edit Task", class: "task-button" %>
<%end%>
