<h1>Your Tasks</h1>

  <% @tasks.each do |task|  %>
  <h2><%= link_to task.name, task_path(task.id) %> </h2>
   </a>
   <%= link_to "Edit", edit_task_path(task.id) %>
   <%= link_to "Delete", destroy_task_path(task.id) %>


   <% if task.completiondate.length > 1 %>
    <%= link_to "Completed", complete_task_path(task.id), class: "strike"%>
    <%elsif  task.completiondate.length < 1%>
    <%= link_to "Complete", complete_task_path(task.id)%>
    <% end %>
  <% end %>
