
<main>
<%= form_with model: @task do |f|%>
  <p> Please provide the following information to save a new task:</p>
<p>  <%= f.label :name %>
 <%= f.text_field :name %></p>

 <%= f.label :description %>
 <%= f.text_field :description %>


 <%= f.hidden_field :completiondate %>

 <%= f.submit "Save Task" %>
<%end%>
</main>
