<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="maingrid">
    <header>
    <h1> TASKLIST </h1>
    </header>

    <nav>
      <ul>
        <li>
          Add Task
        </li>
        <li>
          All Tasks
        </li>
      </ul>
    </nav>

    <footer>
      2018
    </footer>

    <section>
    <%= yield %>
    </section>



  </main>

  </body>
</html>
